a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Arvin";
  src: url(/fonts/arvin.eot?638215f64b0ac451eccac6db55d126f4) format("eot"), url(/fonts/arvin.woff2?d8d6094c93ee730b9265a91379b4fda5) format("woff2"), url(/fonts/arvin.woff?baaa5f336e1368ea8bd1422e59286f25) format("woff"), url(/fonts/arvin.ttf?4d76e8bb8aa7a48dc42336e7276b7e8d) format("truetype"), url(/fonts/arvin.svg?629aab6c755c7c1b9f7be14e12f33523#arvinregular) format("svg");
}

@font-face {
  font-family: "Flaticon";
  src: url(/fonts/Flaticon.eot?99db93cf82440e0619946e5a5353e56e);
  src: url(/fonts/Flaticon.eot?99db93cf82440e0619946e5a5353e56e?#iefix) format("embedded-opentype"), url(/fonts/Flaticon.woff?705455c0136d3d4ff6728b9b77c8a130) format("woff"), url(/fonts/Flaticon.ttf?c3ae4866f6fe20586b07db9ccf8d7694) format("truetype"), url(/fonts/Flaticon.svg?c398187e9906db79c7dc65ead69ffbd9#Flaticon) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: "Flaticon";
    src: url(/fonts/Flaticon.svg?c398187e9906db79c7dc65ead69ffbd9#Flaticon) format("svg");
}
}

.icon:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-zoom-out:before {
  content: "\F100";
}

.icon-power:before {
  content: "\F101";
}

.icon-battery:before {
  content: "\F102";
}

.icon-speedometer:before {
  content: "\F103";
}

.icon-star:before {
  content: "\F104";
}

.icon-bookmark:before {
  content: "\F105";
}

.icon-settings:before {
  content: "\F106";
}

.icon-trash:before {
  content: "\F107";
}

.icon-prohibition:before {
  content: "\F108";
}

.icon-email:before {
  content: "\F109";
}

.icon-zoom-in:before {
  content: "\F10A";
}

.icon-cog:before {
  content: "\F10B";
}

.icon-moon:before {
  content: "\F10C";
}

.icon-padnote:before {
  content: "\F10D";
}

.icon-cut:before {
  content: "\F10E";
}

.icon-refresh:before {
  content: "\F10F";
}

.icon-video:before {
  content: "\F110";
}

.icon-remove:before {
  content: "\F111";
}

.icon-stats:before {
  content: "\F112";
}

.icon-cancel:before {
  content: "\F113";
}

.icon-info:before {
  content: "\F114";
}

.icon-clock:before {
  content: "\F115";
}

.icon-cancel-circled:before {
  content: "\F116";
}

.icon-file:before {
  content: "\F117";
}

.icon-comment:before {
  content: "\F118";
}

.icon-add:before {
  content: "\F119";
}

.icon-menu:before {
  content: "\F11A";
}

.icon-timer:before {
  content: "\F11B";
}

.icon-heart:before {
  content: "\F11C";
}

.icon-calendar:before {
  content: "\F11D";
}

.icon-left-arrow-circled:before {
  content: "\F11E";
}

.icon-gallery:before {
  content: "\F11F";
}

.icon-ok:before {
  content: "\F120";
}

.icon-right-arrow-circled:before {
  content: "\F121";
}

.icon-edit:before {
  content: "\F122";
}

.icon-search:before {
  content: "\F123";
}

.icon-sun:before {
  content: "\F124";
}

.icon-profile:before {
  content: "\F125";
}

.icon-left-arrow:before {
  content: "\F126";
}

.icon-down-arrow:before {
  content: "\F127";
}

.icon-right-arrow:before {
  content: "\F128";
}

nav {
  position: relative;
}

nav ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 6rem;
}

nav ul li a {
  display: block;
}

nav ul li#logo a {
  color: #8E0DB2;
  background: -webkit-linear-gradient(right, #462CC2, #8E0DB2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.4rem;
  line-height: 1.1;
}

nav ul li .icon {
  font-size: 6rem;
  line-height: 6rem;
  display: block;
  width: 6rem;
  height: 6rem;
  margin: auto;
}

nav ul li:last-child {
  margin-bottom: 0;
}

nav ul li:hover {
  color: #462CC2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5f8fa;
  font-family: "Arvin", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #8E0DB2;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

div.container {
  padding: 6rem;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container nav {
  width: 15.5rem;
  margin-right: 6rem;
}

div.container div.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.container div.content .col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 6rem 0 0;
}

div.container div.content .col:last-child {
  margin-right: 0;
}

.date .day {
  float: left;
  margin-right: 1rem;
  font-size: 14.4rem;
  line-height: 0.8;
}

.date div:nth-child(2) {
  float: left;
}

.date div:nth-child(2) span {
  display: block;
  font-size: 3.6rem;
  line-height: 1.2;
}

