// TASKS

// Date component
.date {
    .day {
        float: left;
        margin-right: 1rem;

        font-size: 14.4rem;
        line-height: 0.8;
    }

    div:nth-child(2) {
        float: left;

        span {
            display: block;

            font-size: 3.6rem;
            line-height: 1.2;
        }
    }

    &:after {
        content: '';
        display: block;
        clear: left;
    }
}

// Progress component
.progress {
    .percentage {
        font-size: 3.6rem;

        span { font-size: 7.2rem; }
    }

    .progress-bar {
        height: 3rem;
        border-radius: 1.5rem;

        background: $grey;
        margin-bottom: 3rem;

        &:after {
            content: '';
            display: block;
            height: 3rem;
            width: 40%;
            border-radius: 1.5rem;

            @include linear-gradient(to left, $secondary-color, $primary-color);
        }
    }

    .message { font-size: 4.8rem; }
}

// Tasks list
.col-tasks {
    height: 100%;
    overflow: scroll;

    display: flex;
    align-items: center;
}

.tasks {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
        margin: 3rem 0;
        font-size: 2.8rem;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;

            width: $small-spacing;
            height: $small-spacing;
            border-radius: 50%;
            margin-right: $small-spacing;
            margin-top: -6px; // Little hack

            border: 0.4rem solid $primary-color;
        }

        &.status-0:hover:before {
            @include linear-gradient(to left, $secondary-color, $primary-color);
            border: none;

            width: $small-spacing + 0.8rem;
            height: $small-spacing + 0.8rem;
        }

        &.status-1 {
            color: $dark-grey;
            text-decoration: line-through;

            &:before {
                border-color: $dark-grey;
                background-color: $dark-grey;
            }

            &:hover:before {
                background-color: transparent;
                border-color: $primary-color;
            }
        }

        &.no-task {
            font-size: 3.6rem;

            .icon {
                display: block;
                font-size: 6rem;
            }

            a { text-decoration: underline; }

            &:before { display: none; }
        }
    }
}
